<%= form_for(@mark) do |f| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
      <% @mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :student_id %>
  <%= f.hidden_field :task_id %>

  <div class="field">
    <%= f.label :score %> (<%= @mark.task.points %>)<br>
    <%= f.number_field :score, step: 'any' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
