<p id="notice"><%= notice %></p>

<h3><%= link_to @task.course, @task.course %></h3>
<h1><%= @task %></h1>

<p>
  Date: <%= @task.date %>.
  <%= @task.points %> points.
</p>

<table class="table table-condensed table-hover">
<% @task.marks.each do |mark| %>
<tr>
  <td><%= link_to mark.student, mark.student %></td>
  <td align="right"><%= link_to mark.score, edit_mark_path(mark) %></td>
  <%= content_tag :td, align: 'right', class: level(mark.percent) do %>
    <%= number_with_precision(mark.percent, precision: 2) %>
  <% end %>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tasks_path %>
