<p id="notice"><%= notice %></p>

<h3><%= @task.date %></h3>
<h1><%= @task %></h1>

<p>
  <%= @task.points %> points.
</p>

<table>
<% @task.marks.each do |mark| %>
<tr>
  <td><%= mark.student %></td>
  <td align="right"><%= link_to mark.score, edit_mark_path(mark) %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tasks_path %>
