<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @student.number %>
</p>

<p>
  <strong>First:</strong>
  <%= @student.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @student.last %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<p>
  <strong>Username:</strong>
  <%= @student.username %>
</p>

<p>
Created at <%= @student.created_at %>.
Updated at <%= @student.updated_at %>.
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
