<p id="notice"><%= notice %></p>

<h3><%= @student.number %></h3>
<h1><%= @student.first_last %></h1>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<p>
  <strong>Username:</strong>
  <%= @student.username %>
</p>

<p class="timestamps">
Created at <%= @student.created_at %>.
Updated at <%= @student.updated_at %>.
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', students_path %>
