<p id="notice"><%= notice %></p>

<h3><%= @student.number %></h3>
<h1><%= @student.first_last %></h1>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<p>
  <strong>Username:</strong>
  <%= @student.username %>
</p>

<p class="timestamps">
Created at <%= @student.created_at %>.
Updated at <%= @student.updated_at %>.
</p>

<table>
<tr>
  <th>Task</th>
  <th>Score</th>
  <th>(Max)</th>
  <th>Percent</th>
</tr>
<% @student.marks.group_by(&:course).each do |course, marks_by_course| %>
<% marks_by_course.group_by(&:name).each do |name, marks| %>
<% number = Task.where(course: course, name: name).count %>
<% marks.each do |mark| %>
  <tr>
    <td>
      <%= mark.course %>
      <%= link_to mark.task, mark.task %>
    </td>
    <td align='right'>
      <%= link_to number_with_precision(mark.score, precision: 2), mark %>
    </td>
    <td align='right'>
      (<%= mark.points %>)
    </td>
    <td align='right'>
      <%= number_with_precision(mark.percent, precision: 2) %>
    </td>
  </tr>
<% end %>
<tr>
  <th>Total %</th>
  <td></td>
  <td></td>
  <td align='right'>
    <%= number_with_precision(marks.map(&:percent).sum/number, precision: 2) %>
  </td>
</tr>
<tr>
  <th>Total-1 %</th>
  <td></td>
  <td></td>
  <td align='right'>
    <% number -= 1 %>
    <%= number_with_precision(marks.map(&:percent).sort.last(number).sum/number, precision: 2) %>
  </td>
</tr>
<tr>
  <th>Total-2 %</th>
  <td></td>
  <td></td>
  <td align='right'>
    <% number -= 1 %>
    <%= number_with_precision(marks.map(&:percent).sort.last(number).sum/number, precision: 2) %>
  </td>
</tr>
<% end %>
<% end %>
</table>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', students_path %>
