<h1>Notenfass</h1>

<ul>
  <li><%= link_to 'Students', students_path %></li>
  <li><%= link_to 'Tasks', tasks_path %></li>
</ul>

<table>
<tr>
  <td></td>
  <% @tasks.each do |task| %>
  <th><%= task.short %></th>
  <% end %>
  <th>Total %</th>
</tr>
<tr>
  <td></td>
  <% @tasks.each do |task| %>
  <td align="right"><%= number_with_precision(task.points, precision: 2) %></td>
  <% end %>
</tr>
<% @students.each do |student| %>
<% marks = student.marks.index_by(&:task) %>
<tr>
  <th><%= student.number %></th>
  <% @tasks.each do |task| %>
  <td align="right"><%= number_with_precision(marks[task].score, precision: 2) %></td>
<% end %>
	<td align='right'>
          <%= number_with_precision(student.total_percent, precision: 2) %>
        </td>
</tr>
<% end %>
</table>
