<p id="notice"><%= notice %></p>

<h3>Courses</h3>

<h1><%= @course.code %> - <%= @course.name %></h1>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<h4>Credits</h4>

<ul>
  <% @course.credits.each do |credit| %>
    <li>
      <%= link_to credit, credit %>
    </li>  
  <% end %>
</ul>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', courses_path %>
