<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CreditUnion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if session[:user_id] %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to "credit_union", '#', id: "logo" %>
  <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "#{Student.all.count} Students", students_path %></li>
  <li><%= link_to "#{Course.all.count} Courses", courses_path %></li>
  <li><%= link_to "#{Credit.all.count} Credits", credits_path %></li>
  </ul>
</nav>
    <%= button_to 'Logout', logout_path, method: :delete   %>
  </div>
</header>
<% end %>
<%= content_tag :body, class: "container " + controller.controller_name do %>
<%= yield %>
<div class="container">
  <%= debug(params) if Rails.env.development? %>
</div>
<% end %>
</html>
