<!DOCTYPE html>
<html>
<head>
  <title>CreditUnion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: "container " + controller.controller_name do %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
<% end %>
</html>
